<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./assets/style/style.css" type="text/css" />
        <link rel="stylesheet" href="./assets/style/bootstrap.min.css" type="text/css" />
        <script src="./assets/js/bootstrap.min.js"></script>
        <link rel="logo icon" href="">
    </head>
    <body>
    <header>
        {%block header%}
            {% include './_partials/_header.html.twig' %}
        {% endblock %}
    </header>

    {% block body %}{% endblock %}

    <footer>
        {% block footer %}
            {% include './_partials/_footer.html.twig' %}
        {% endblock %}
    </footer>
    </body>
</html>
